body {
  /* min-width: 1400px;  */
  min-width: 1280px; 
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: 0 auto 0;
}

@media screen and (max-width: 961px) {
  body {
    max-width: 960px;
  }
}