body {
  min-width: 1400px; 
  max-width: 100%; 
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 1900px) {
  .section-notebook-title{
    width: 85%;
  }
  .section-notebook {
    top: 380px;
  }
}